.card
  .card-header Sign up

  .card-block
    = render partial: "shared/flash_alert"

    .row
      .col-md-6
        %a.btn.btn-social.btn-facebook{href: user_omniauth_authorize_path(:facebook)}
          = fa_icon "facebook"
          Connect with Facebook
      .col-md-6
        %a.btn.btn-social.btn-google{href: user_omniauth_authorize_path(:google_oauth2)}
          = fa_icon "google"
          Connect with Google

    %hr
    %span.or
      %span or

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

      = render 'shared/form_errors', f: resource

      .row
        .col-sm-6
          .form-group.form-group-default
            = f.label :first_name
            = f.text_field :first_name, autofocus: true, required: true, class: "form-control", placeholder: "First name"

        .col-sm-6
          .form-group.form-group-default
            = f.label :last_name
            = f.text_field :last_name, required: true, class: "form-control", placeholder: "Last name"

      .row
        .col-sm-12
          .form-group.form-group-default
            = f.label :email
            = f.email_field :email, required: true, class: "form-control", placeholder: "e.g. me@example.com"

      .row
        .col-sm-6
          .form-group.form-group-default
            = f.label :password
            - if @minimum_password_length
              %small (#{@minimum_password_length} characters minimum)
            = f.password_field :password, required: true, autocomplete: "off", class: "form-control", placeholder: "Password"
        .col-sm-6
          .form-group.form-group-default
            = f.label :password_confirmation
            = f.password_field :password_confirmation, required: true, autocomplete: "off", class: "form-control", placeholder: "Password confirmation"

      .row.submit
        .col-md-6
          %p.small
            By signing up you agree to our
            %a.text-info{:href => "#"} Terms of Service
            and
            = succeed "." do
              %a.text-info{:href => "#"} Privacy Policy
        .col-md-6.text-xs-right
          = f.submit "Sign up", class: "btn btn-primary btn-cons m-t-10"
