.container-fluid
	.row
		.card.card-block.col-md-8.col-md-offset-2
			%h3.card-title= form_header
			= form_for @shop, :html => {class: ''} do |f|
				%fieldset.form-group
					= f.label :name
					= f.text_field :name, class: "form-control", autofocus: true
				.row
					%fieldset.form-group.col-md-4
						= f.label :facebook_url
						= f.url_field :facebook_url, class: "form-control"
					%fieldset.form-group.col-md-4
						= f.label :twitter_username
						= f.url_field :twitter_username, class: "form-control"
					%fieldset.form-group.col-md-4
						= f.label :instagram_username
						= f.url_field :instagram_username, class: "form-control"
				.row
					%fieldset.form-group.col-md-6
						= f.label :contact_phone
						= f.telephone_field :contact_phone, class: "form-control"
					%fieldset.form-group.col-md-6
						= f.label :email_id
						= f.email_field :email_id, class: "form-control"
				%fieldset.form-group
					= f.label :description
					= f.text_area :description, class: "form-control"
				.row
					%fieldset.form-group.col-md-6
						= f.label :profile_image
						%label.file
							= f.file_field :profile_image
							%span.file-custom
							-# = image_tag(@shop.profile_image_url) if @shop.profile_image?
					%fieldset.form-group.col-md-6
						= f.label :header_image
						%label.file
							= f.file_field :header_image
							%span.file-custom
						-# = image_tag(@shop.header_image_url) if @shop.header_image?
				= f.submit(class: "btn btn-primary")
