.container-fluid
	.row
		= form_for(@shop) do |f|
			= f.label :name
			= f.text_field :name
			%br/
			= f.label :shop_Name
			= f.text_field :slug
			%br/
			= f.label :description
			= f.text_area :description
			%br/
			= f.label :facebook_url
			= f.url_field :facebook_url
			%br/
			= f.label :twitter_username
			= f.url_field :twitter_username
			%br/
			= f.label :instagram_username
			= f.url_field :instagram_username
			%br/
			= f.label :contact_phone
			= f.telephone_field :contact_phone
			%br/
			= f.label :email_id
			= f.email_field :email_id
			%br/
			Location:
			%input#address{:style => "width: 200px", :type => "text"}/
			#map{:style => "width: 500px; height: 400px;"}
			= f.hidden_field :latitude
			= f.hidden_field :longitude
			:javascript
				var lat = parseFloat($('#shop_latitude').val())
				var lon = parseFloat($('#shop_longitude').val())
				$('#map').locationpicker({
					location: {latitude: lat || 53.348864, longitude: lon || -6.2502467},
					radius: 0,
					enableAutocomplete: true,
					inputBinding: {
						latitudeInput: $('#shop_latitude'),
						longitudeInput: $('#shop_longitude'),
						locationNameInput: $('#address')
					}
				});
			%br/
			= f.submit(class: "btn btn-primary")
