%h1= @shop.name

/ %p= 'by ' + @shop.user.first_name + " " + @shop.user.last_name

%p= @shop.slug
%p= @shop.description
= image_tag(@shop.profile_image_url) if @shop.profile_image?
= image_tag(@shop.header_image_url) if @shop.header_image?

#{link_to "Create Products", new_shop_product_path(@shop), class: "btn btn-default btn-lg"}
