-# = render 'shared/public_shop', shop: @shop, product: @products
.row
  .col-md-3
    = render 'shared/left_dashboard_menu'
  .col-md-9
    .card
      .card-block
        %h3.card-title
          = "Products in " + @shop.name
          .pull-md-right
            = link_to "New Product", new_shop_product_path(@shop), class: "btn btn-success"
            = link_to "Delete Shop", shop_path(@shop), method: "delete", class: "btn btn-danger"
            = link_to "Withdraw Money", new_shop_withdrawal_path(@shop), class: "btn btn-primary"
        %p.card-text= @shop.description
      %ul.list-group.list-group-flush
        - if @shop.products.empty?
          %h6 No product in this shop.
        - else
          %li.list-group-item
            .row
              .col-md-3
                %strong Product Name
              .col-md-3
                %strong Price
              .col-md-3
                %strong Quantity
              .col-md-3
                %strong Operations
            - @shop.products.each do |product|
              %li.list-group-item
                .row
                  .col-md-3
                    = link_to product.name, shop_product_path(@shop, product)
                  .col-md-3
                    &euro; #{number_with_precision(product.price, :precision => 2)}
                  .col-md-3
                    = product.quantity
                  .col-md-3
                    = link_to "Edit", edit_shop_product_path(@shop, product), class: 'btn btn-info btn-sm'
                    = link_to "Delete", shop_product_path(@shop, product), method: :delete, class: 'btn btn-danger btn-sm'
  -# = paginate @products, :outer_window => 3
