.container
  .row
    %h1= @shop.name

    / %p= 'by ' + @shop.user.first_name + " " + @shop.user.last_name

    %p= @shop.slug
    %p= @shop.description

  .panel.panel-default
    .panel-heading
      %h3.panel-title Your Products
    .panel-body
      - if @shop.products.empty?
        %h6 No product in this shop.
      - else
        .list-group
          - @shop.products.each do |product|
            %li.list-group-item
              = link_to product.name, shop_product_path(@shop, product)
              = link_to "Delete", shop_product_path(@shop, product), method: :delete, class: 'btn btn-danger btn-sm pull-right'
              = link_to "Edit", edit_shop_product_path(@shop, product), class: 'btn btn-info btn-sm pull-right'
      = link_to "New Product", new_shop_product_path(@shop), class: "btn btn-success"
      = link_to "Delete Shop", shop_path(@shop), method: "delete", class: "btn btn-danger"
      = link_to "Withdraw Money", new_shop_withdrawal_path(@shop), class: "btn btn-primary"
