.row
  .col-md-3
    = render 'shared/left_dashboard_menu'
  .col-md-9
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a.nav-link.active{"data-toggle" => "tab", :href => "#about-you", :role => "tab"} About You
      %li.nav-item
        %a.nav-link{"data-toggle" => "tab", :href => "#settings", :role => "tab"} Settings
      %li.nav-item
        %a.nav-link{"data-toggle" => "tab", :href => "#cards", :role => "tab"} My Cards

    / Tab panes
    .tab-content
      #about-you.tab-pane.active{:role => "tabpanel"}
        .card
          .card-header About You
          .card-block
            = form_for @user, url: account_path, html: {:autocomplete => "off", :role => "form"} do |f|
              = render "shared/form_errors", f: @user
              .row
                .col-sm-6
                  .form-group.form-group-default
                    = f.label :first_name
                    = f.text_field :first_name, autofocus: true, required: false, class: "form-control", placeholder: "First name"

                .col-sm-6
                  .form-group.form-group-default
                    = f.label :last_name
                    = f.text_field :last_name, required: false, class: "form-control", placeholder: "Last name"

              .row
                .col-md-1.text-xs-right
                  = f.submit "Update", class: "btn btn-primary btn-cons m-t-10"


      #settings.tab-pane{:role => "tabpanel"}
        = render "users/edit_login"


      #cards.tab-pane{:role => "tabpanel"}
        - unless @cards.empty?
          .card
            .card-header My Credit Cards
            .card-block
              - @cards.each do |card|
                .row
                  .col-md-4
                    %strong= card.card_brand
                  .col-md-4
                    = "**** **** **** " + card.card_last_4
                  .col-md-4
                    = link_to "Delete Card", delete_card_path(customer_id: card.stripe_customer_id, card_id: card.stripe_card_id), method: :delete
