%ul.nav.nav-pills.nav-stacked
  %li.nav-item
    = link_to dashboard_path, class: "nav-link #{is_active('pages', 'dashboard')}" do
      %i.fa.fa-home
      Dashboard
  %li.nav-item
    = link_to account_path, class: "nav-link #{is_active('users', 'edit')}" do
      %i.fa.fa-cogs
      Preferences
  %li.nav-item
    = link_to dashboard_my_shops_path, class: "nav-link #{is_active('shops', 'my_shops')}" do
      %i.fa.fa-building
      Your Shops
    %ul
      %li.nav-item
        = link_to dashboard_my_shops_path, class: "nav-link #{is_active('shops', 'indes')}" do
          %i.fa.fa-building
          Your Shops
      %li.nav-item
        = link_to dashboard_my_shops_path, class: "nav-link #{is_active('shops', 'indes')}" do
          %i.fa.fa-building
          New Shops
  %li.nav-item
    = link_to dashboard_purchase_history_path, class: "nav-link #{is_active('purchases', 'index')}" do
      %i.fa.fa-shopping-bag
      Your Purchase History
  %li.nav-item
    = link_to dashboard_withdrawals_path, class: "nav-link #{is_active('withdrawals', 'index')}" do
      %i.fa.fa-money
      Withdraw to Bank
