= simple_form_for :search, url: search_path, method: :get, html: { class: 'form-inline', role: 'search' } do |form|
  .input-group
    = form.input_field :text, label: false, placeholder: 'Where are you looking for?', required: true, id: 'header_search', class: 'form-control', value: (params['search']) ? params['search']['text'] : ''
    %span.input-group-addon
      = button_tag(type: 'submit', class: "btn") do
        %i.fa.fa-search#search-button
    = form.input_field :lat, as: :hidden, id: 'search-lat', value: (params['search']) ? params['search']['lat'] : ''
    = form.input_field :lng, as: :hidden, id: 'search-lng', value: (params['search']) ? params['search']['lng'] : ''
