%footer#top-footer
  .container
    .row
      .col-md-3
        %h6.em Who We Are
        = link_to "About us", root_path
        %br
        = link_to "Careers", root_path
        %br
        = link_to "Feature Tour", root_path
        %br
        = link_to "Presentation", root_path
      .col-md-3
        %h6.em Support
        = link_to "Knowledge Base", root_path
        %br
        = link_to "Video Guide", root_path
        %br
        = link_to "Report a Bug", root_path
        %br
        = link_to "Term of Use", root_path
      .col-md-3
        %h6.em Contact Us
        .address
          .strong
            SprintFire
          CHQ Building, IFSC
          %br
          Dublin 1, Ireland
      .col-md-3
        %h6.em Newsletter
        Subscribe to our newsletter
        %br
