.panel.panel-default
  .panel-heading
    %h3.panel-title Purchase History
  .panel-body
    - if @purchases.empty?
      %h6 There is no purchase has been made yet.
    - else
      .list-group
        %li.list-group-item
          .row
            .col-md-1
              .strong No.
            .col-md-2
              .strong Product Name
            .col-md-2
              .strong From Shop
            .col-md-3
              .strong Purchase Date
            .col-md-3
              .strong Purchase Price
        - @purchases.reverse_each do |purchase|
          %li.list-group-item
            .row
              .col-md-1
                = purchase.id
              .col-md-2
                = link_to purchase.product.name, shop_product_path(purchase.product.shop, purchase.product)
              .col-md-2
                = link_to purchase.product.shop.name, shop_path(purchase.product.shop)
              .col-md-3
                = time_ago_in_words(purchase.created_at) + " ago"
              .col-md-3
                &euro; #{number_with_precision(purchase.price, :precision => 2)} 
