%h1 Dashboard

%h3

.panel.panel-default
  .panel-heading
    %h3.panel-title Your Shops and Products
  .panel-body
    - if @shops.empty?
      %h6 There is no shop.
    - else
      %div.list-group
        - @shops.each do |shop|
          %li.list-group-item
            %h4
              = link_to shop.name, shop_path(shop)
            = link_to "New", new_shop_product_path(shop), class: 'btn btn btn-success'
            = link_to "Edit", edit_shop_path(shop), class: 'btn btn-info'
            = link_to "Delete", shop_path(shop), method: :delete, class: 'btn btn-danger'
            - if shop.products.empty?
              %h6 No product in this shop.
              = link_to 'Create product in this shop', new_shop_product_path(shop)
            - else
              %div
                - shop.products.each do |product|
                  %li.list-group-item
                    = link_to product.name, shop_product_path(shop, product)
                    = link_to "Edit", edit_shop_product_path(shop, product), class: 'btn btn-info'
                    = link_to "Delete", shop_product_path(shop, product), method: :delete, class: 'btn btn-danger'
= link_to 'Create a new shop', new_shop_path, class: 'btn btn-primary btn-lg'
