%h1 Dashboard

%h3 Your Shops and Products

- if @shops.empty?
  %h6 There is no shop.
- else
  %div
    %h4 SHOP
    - @shops.each do |shop|

      %h5
        = link_to shop.name, shop_path(shop)
      - if shop.products.empty?
        %h6 No product in this shop.
        = link_to 'Create product in this shop', new_shop_product_path(shop)
      - else
        %div
          %h6 PRODUCTS
          - shop.products.each do |pro|
            %div
              = link_to pro.name, shop_product_path(shop, pro)
              = link_to "Edit", edit_shop_product_path(shop, pro)
              = link_to "Delete", shop_product_path(shop, pro), method: :delete

= link_to 'Create your Shop', new_shop_path, class: 'btn btn-default btn-lg'
