.row
  .col-md-6.col-md-offset-3
    .card
      %img.card-img-top{:alt => "Card image cap", "src" => "/assets/placeholder_square.png"}
        .card-block
          %h4.card-title= @product.name
          %p.card-text.text-muted= truncate(@product.description, length: 100)
        %ul.list-group.list-group-flush
          %li.list-group-item Quantity: #{@product.quantity}
          %li.list-group-item Amount: &euro; #{@product.price}
        .card-block.text-center
          %a.btn.btn-primary{"aria-controls" => "pay-with-previous", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#pay-with-previous"}
            Pay With Previous Cards
          .pull-xs-right
            = form_tag(checkout_path(@product), method: :post) do
              %article
                - if flash[:error].present?
                  #error_explanation
                    %p= flash[:error]
              %script.stripe-button{"data-amount" => "#{@product.price * 100}", "data-currency" => "eur", "data-description" => "#{@product.name}", "data-key" => Rails.configuration.stripe[:publishable_key], "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
          #pay-with-previous.collapse.m-t-1
            %table.table
              %thead
                %tr
                  %th
                    %i.fa.fa-tag
                    Card Brand
                  %th
                    %i.fa.fa-credit-card
                    Card Last Digits
                  %th Click To Use
              %tbody
                - @cards.each do |card|
                  %tr
                    %td= card.card_brand
                    %td= "**** **** **** " + card.card_last_4
                    %td
                      = link_to "Pay", checkout_current_card_path(customer_id: card.stripe_customer_id, id: @product.id), method: :post
