.container-fluid
	.row
		= form_for([@shop, @product]) do |f|
			= f.label :name_Of_The_Product
			= f.text_field :name
			%br/
			= f.label :price
			= f.number_field :price, :class => 'text_field', :step => 'any'
			%br/
			= f.label :quantity
			= f.number_field :quantity, :value => @product.quantity || 1, :min => 0
			%br/
			= f.label :description
			= f.text_area :description
			%br/
			= f.submit class: "btn btn-primary"
