.container-fluid
	.row
		= form_for([@shop, @product]) do |f|
			= f.label :name_Of_The_Product
			= f.text_field :name
			%br/
			= f.label :description
			= f.text_area :description
			%br/
			= f.submit "Create", class: "btn btn-primary"