
.row
  .card.card-block.col-md-12
    %h3.card-title= form_header
    %hr
    = form_for([@shop, @product]) do |f|
      = render 'shared/form_errors', f: @shop
      = render 'shared/form_errors', f: @product
      .row
        %fieldset.form-group
          .col-md-12
            = f.label :name_Of_The_Product, "Name"
            = f.text_field :name, :style => "width: 100%", class: "form-control"
      .row
        %fieldset.form-group
          .col-md-6
            = f.label :price
            = f.number_field :price, :class => 'text_field', :step => 'any', :style => "width: 100%", class: "form-control"
          .col-md-6
            = f.label :quantity
            = f.number_field :quantity, :min => 1, :style => "width: 100%", class: "form-control"
      .row
        %fieldset.form-group
          .col-md-12
            = f.label :description
            = f.text_area :description, :style => "width: 100%", class: "form-control"
      .row#category
        %fieldset.form-group
          .col-md-12
            = f.label :category_id
          .col-md-12
            .btn-group
              %button.btn.btn-default.btn-category{:type => "button"} Select a category
              %button.btn.btn-default.dropdown-toggle.btn-category{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %span.sr-only Toggle Dropdown
              .dropdown-menu
              - @category each do |category|
                %a.dropdown-item
                = options_from_collection_for_select(@category, 'id', 'title')
                  -# = f.select :category, options
                  -# %a.dropdown-item{:href => "#"} Book
                  -# %a.dropdown-item{:href => "#"} Bakery
                  -# %a.dropdown-item{:href => "#"} Gym
      = f.submit "Create", class: "btn btn-primary"
