- if @product.quantity == 0
  = render 'sold_out'

.container
  .row
    %h1= @product.name
    %h4
      by
      = link_to @product.shop.name, @product.shop
  .row
    .col-md-1
      %h6 Price
    .col-md-1
      %p= @product.price
  .row
    .col-md-1
      %h6 Quantity
    .col-md-1
      %p= @product.quantity
  .row
    .col-md-1
      %h6 Description
  .row
    .col.md-6
      %p= @product.description
  = link_to "Checkout", checkout_path(@product), :method => :post
