%h3= @product.name
.row#product-show
  .col-md-7
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      .carousel-inner{:role => "listbox"}
        .carousel-item.active
          %img{:alt => "First slide", "src" => "http://placehold.it/400x250"}
        .carousel-item
          %img{:alt => "Second slide", "src" => "http://placehold.it/400x250"}
        .carousel-item
          %img{:alt => "Third slide", "src" => "http://placehold.it/400x250"}
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %span.icon-prev{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
        %span.icon-next{"aria-hidden" => "true"}
        %span.sr-only Next

    .card.m-t-1
      .card-block
        %h4.card-title
          = @product.name
        %p.card-text
          = @product.description
      %ul.list-group.list-group-flush
        %li.list-group-item
          %a.card-link{:href => "#"} Card link
          %a.card-link{:href => "#"} Another link

  .col-md-5
    .card.card-block
      %h4.card-title
        %strong
          &euro;
          = number_with_precision(@product.price, precision: 2)
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .text-md-right
        = link_to "Buy Product", checkout_path(@product), class: "btn btn-primary"

    .card.p-y-1.p-l-1
      %h3.card-title
        %i.fa.fa-shopping-cart
        = @product.purchases.count
        Sales

    .card.p-y-1.p-l-1
      %h3.card-title
        %i.fa.fa-cubes
        = @product.quantity
        Left

  .col-md-12
    .card.p-y-1
      .card-block
        %h3.card-title Reviews
      %ul.list-group.list-group-flush
        %li.list-group-item
          = commontator_thread(@product)
        %li.list-group-item
          %p.card-text Please rate:
          = rating_for @product, "quality", :disable_after_rate => false
