- # Clients of this partial must supply the following variables:
- # thread
- # user
- # page
- # per_page
- # Optionally, they can also supply the following variable:
- show_all ||= false
- can_subscribe = thread.can_subscribe?(user)
- can_edit = thread.can_be_edited_by?(user)
- if thread.config.comment_order == :l
  = render :partial => 'commontator/threads/reply',                        |
    :locals => { :thread => thread, :user => user, :per_page => per_page } |
.thread_comment_list{:id => "thread_#{thread.id.to_s}_comment_list_div"}
  - comments = show_all ? thread.ordered_comments(true) : \
  - thread.paginated_comments(page, per_page)
  = render :partial => 'commontator/comments/list', |
    :locals => { :comments => comments,             |
    :user => user }                                 |
- if thread.will_paginate? && !show_all
  .thread_pagination{:id => "thread_#{thread.id.to_s}_pagination_div"}
    .thread_page_entries_info{:id => "thread_#{thread.id.to_s}_page_entries_info_div"}
      = page_entries_info comments,                        |
        :params => { :controller => 'commontator/threads', |
        :action => 'show',                                 |
        :id => thread.id,                                  |
        :page => page,                                     |
        :per_page => per_page }                            |
      \.
    .thread_will_paginate{:id => "thread_#{thread.id.to_s}_will_paginate_div"}
      = will_paginate comments,                            |
        :renderer => Commontator::LinkRenderer,            |
        :routes_proxy => commontator,                      |
        :remote => true,                                   |
        :params => { :controller => 'commontator/threads', |
        :action => 'show',                                 |
        :id => thread.id,                                  |
        :page => page,                                     |
        :per_page => per_page }                            |

%ul.list-group.list-group-flush
  %li.list-group-item
    .row.container
      - if thread.config.comment_order != :l
        = render :partial => 'commontator/threads/reply',                        |
          :locals => { :thread => thread, :user => user, :per_page => per_page } |

:javascript
  #{render partial: 'commontator/threads/hide_show_links.js',
             locals: { thread: thread }}
