!!!
%html.no-js{ lang: 'eng' }
  %head
    = render 'shared/head'
  %body{class: "#{params[:controller]} #{params[:action]}"}

    = render 'shared/header'
    #main
      .container-fluid
        = yield

    = render 'shared/footer'
