!!!
%html.no-js{ lang: 'eng' }
  %head
    = render 'shared/head'
  %body#devise{class: "#{params[:controller]} #{params[:action]}"}

    = render 'shared/flash_banner'
    = render 'shared/header'

    #main
      .container
        .row
          .col-md-8#info

            .row
              .col-md-10
                %h1 Lorem Ipsum is simply dummy.
                %h5 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 

          .col-md-4
            = yield


    = render 'shared/footer'